parameters:
    phpVersion: 80200
    level: 7
    paths:
        - src/
        - phpstan/
    treatPhpDocTypesAsCertain: false
    type_coverage:
        return: 100
        param: 100
        property: 100
        # typed class constants require PHP 8.3+, the minimum is 8.2
        constant: 0
    type_perfect:
        null_over_false: true
        # no_mixed: true
        # narrow_param: true
        narrow_return: true

services:
    - class: CCMBenchmark\Ting\PHPStan\PropertiesExtension
      tags:
        - phpstan.properties.readWriteExtension
